<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942316394462-8ubph3e8vmetlh7gbjb1q7mmutqpe4i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942316394462-8ubph3e8vmetlh7gbjb1q7mmutqpe4i4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942316394462-bous3tos2mbounqpgab9s5el82re9umh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtvGfs3kSdoXLRe-QSTsaUu3fwE8SGxp0</string>
	<key>GCM_SENDER_ID</key>
	<string>942316394462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.meetgo.vn</string>
	<key>PROJECT_ID</key>
	<string>meetgo-product</string>
	<key>STORAGE_BUCKET</key>
	<string>meetgo-product.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942316394462:ios:f04ae48b6749690cb4af4f</string>
	<key>DATABASE_URL</key>
	<string>https://meetgo-product-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>